@font-face {
  font-family: "Gotham";
  src: url(../src/fonts/gotham/Gotham-Light.woff2),
    url(../src/fonts/gotham/Gotham-Light.woff);
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url(../src/fonts/gotham/Gotham-Book.woff2),
    url(../src/fonts/gotham/Gotham-Book.woff);
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url(../src/fonts/gotham/Gotham-Medium.woff2),
    url(../src/fonts/gotham/Gotham-Medium.woff2);
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url(../src/fonts/gotham/Gotham-Bold.woff2),
    url(../src/fonts/gotham/Gotham-Bold.woff);
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
}
body {
  font-family: "Gotham", sans-serif, "Arial";
  font-weight: 500;
  font-size: 14px;
  color: var(--helio-color-primaryText);
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 1rem;
}

body::-webkit-scrollbar-track {
  border-radius: 1rem;
  margin-block: 1.5rem;
}

body::-webkit-scrollbar-thumb {
  background: #4a4a4aff;
  border-radius: 1rem;
}

body::-webkit-scrollbar-thumb:hover {
  background: #9b9b9bff;
  border-radius: 1rem;
}

.app-wrapper {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  word-wrap: break-word;
}

.container {
  width: 126.75rem;
  margin: 0 auto;
  max-width: var(--max-width);
}

.container-products {
  height: auto;
  width: 142.5rem;
  margin: 0 auto;
}

.container-loader {
  width: 142.5rem;
  margin: 0 auto;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  background-color: #00a082;
  color: #f1f3f5;
  text-align: center;
  text-decoration: none;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  height: 3.6rem;
  max-width: auto;
  border-radius: 2.4rem;
  font-size: 2rem;
  font-family: "Gotham", "Arial", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 700;
  box-shadow: 0 3px 5px 0 #0000001a;
  border: none;
  letter-spacing: 0.2rem;
  transition: all 1s ease;
}

.btn:hover {
  background-color: #008068;
  color: white;
  cursor: pointer;
}

.block {
  display: block;
}

/* REUSABLE GRID */

.grid {
  display: grid;
  column-gap: 9.6rem;
  row-gap: 9.6rem;
}

/* .grid:not(:last-child) {
  margin-bottom: 9.6rem;
} */

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}

span {
  font-weight: 600;
}

/* SWITCH */
.switch {
  position: relative;
  display: inline-block;
  width: 7rem;
  height: 4rem;
  margin: 0 1rem;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 1px solid lightgrey;
  transition: 0.5s;
  border-radius: 4rem;
}

.switch input {
  display: none;
}

.slider:before {
  position: absolute;
  content: "";
  height: 2.9rem;
  width: 2.9rem;
  left: 0.5rem;
  bottom: 0.25rem;
  background: white;
  border: 2px solid grey;
  border-radius: 5rem;
  transition: 0.5s;
}

input:checked + .slider {
  background-color: #2abb98ff;
}

input:checked + .slider:before {
  transform: translateX(2.4rem);
}

style {
  --helio-primitive-color-aqua50: #e5f4fcff;
  --helio-primitive-color-aqua800: #05202eff;
  --helio-primitive-color-black: #000000ff;
  --helio-primitive-color-black-transparent10: #0000001a;
  --helio-primitive-color-black-transparent60: #00000099;
  --helio-primitive-color-blue300: #6faef6ff;
  --helio-primitive-color-blue50: #eff6feff;
  --helio-primitive-color-blue600: #0c5fc0ff;
  --helio-primitive-color-blue800: #063060ff;
  --helio-primitive-color-blue900: #031830ff;
  --helio-primitive-color-facebook500: #4f69baff;
  --helio-primitive-color-facebook550: #435caaff;
  --helio-primitive-color-facebook600: #3c539aff;
  --helio-primitive-color-facebook650: #344886ff;
  --helio-primitive-color-facebook700: #2e3f75ff;
  --helio-primitive-color-green100: #d5f6efff;
  --helio-primitive-color-green50: #e9f8f5ff;
  --helio-primitive-color-green600: #2abb98ff;
  --helio-primitive-color-green700: #00a082ff;
  --helio-primitive-color-green750: #00846bff;
  --helio-primitive-color-green800: #006653ff;
  --helio-primitive-color-green900: #002d28ff;
  --helio-primitive-color-grey100: #e4e4e4ff;
  --helio-primitive-color-grey300: #c1c1c1ff;
  --helio-primitive-color-grey50: #f5f5f5ff;
  --helio-primitive-color-grey500: #9b9b9bff;
  --helio-primitive-color-grey600: #6e6e6eff;
  --helio-primitive-color-grey700: #4a4a4aff;
  --helio-primitive-color-grey800: #292929ff;
  --helio-primitive-color-grey900: #1d1d1dff;
  --helio-primitive-color-grey950: #1c1c1cff;
  --helio-primitive-color-purple200: #a7a7f1ff;
  --helio-primitive-color-purple250: #8f8fedff;
  --helio-primitive-color-purple300: #7a7aeaff;
  --helio-primitive-color-purple350: #6262e6ff;
  --helio-primitive-color-purple400: #655ae5ff;
  --helio-primitive-color-purple50: #ebebfcff;
  --helio-primitive-color-purple700: #322673ff;
  --helio-primitive-color-purple800: #202042ff;
  --helio-primitive-color-red300: #ff6666ff;
  --helio-primitive-color-red350: #ff4a4aff;
  --helio-primitive-color-red400: #e94949ff;
  --helio-primitive-color-red450: #e63030ff;
  --helio-primitive-color-red50: #ffe8e8ff;
  --helio-primitive-color-red500: #c43939ff;
  --helio-primitive-color-red800: #4e2424ff;
  --helio-primitive-color-transparent: #00000000;
  --helio-primitive-color-white: #ffffffff;
  --helio-primitive-color-yellow200: #ffde99ff;
  --helio-primitive-color-yellow400: #ffc244ff;
  --helio-primitive-color-yellow450: #ffb928ff;
  --helio-primitive-color-yellow50: #fff3daff;
  --helio-primitive-color-yellow500: #e19f17ff;
  --helio-primitive-color-yellow800: #5d4109ff;
  --helio-primitive-color-yellow900: #33270eff;
  --helio-space-2-x-l: 48px;
  --helio-space-2-x-s: 4px;
  --helio-space-3-x-l: 64px;
  --helio-space-4-x-l: 80px;
  --helio-space-5-x-l: 100px;
  --helio-space-l: 24px;
  --helio-space-m: 16px;
  --helio-space-s: 12px;
  --helio-space-x-l: 32px;
  --helio-space-x-s: 8px;
  --helio-color-accent: var(--helio-primitiveColor-green700);
  --helio-color-accent-hover: var(--helio-primitiveColor-green750);
  --helio-color-accent-pressed: var(--helio-primitiveColor-green800);
  --helio-color-alert: var(--helio-primitiveColor-red300);
  --helio-color-alert-hover: var(--helio-primitiveColor-red350);
  --helio-color-alert-pressed: var(--helio-primitiveColor-red400);
  --helio-color-button-text: var(--helio-primitiveColor-white);
  --helio-color-button-text-disabled: var(--helio-primitiveColor-white);
  --helio-color-control-background: var(--helio-primitiveColor-yellow400);
  --helio-color-default-loader: var(--helio-primitiveColor-grey300);
  --helio-color-disabled: var(--helio-primitiveColor-grey300);
  --helio-color-disabled-text: var(--helio-primitiveColor-grey300);
  --helio-color-discover-button-background: var(--helio-primitiveColor-grey50);
  --helio-color-discover-button-background-hover: var(
    --helio-primitiveColor-grey100
  );
  --helio-color-discover-button-background-pressed: var(
    --helio-primitiveColor-white
  );
  --helio-color-facebook-background: var(--helio-primitiveColor-facebook600);
  --helio-color-facebook-background-hover: var(
    --helio-primitiveColor-facebook650
  );
  --helio-color-facebook-background-pressed: var(
    --helio-primitiveColor-facebook700
  );
  --helio-color-floating-element-background: var(--helio-primitiveColor-white);
  --helio-color-global-background: var(--helio-primitiveColor-yellow400);
  --helio-color-inverted-border: var(--helio-primitiveColor-white);
  --helio-color-inverted-prime: var(--helio-primitiveColor-white);
  --helio-color-medium-global-background: var(--helio-primitiveColor-yellow200);
  --helio-color-ongoing-progress-background: var(
    --helio-primitiveColor-yellow500
  );
  --helio-color-overlay-background: var(
    --helio-primitiveColor-blackTransparent60
  );
  --helio-color-primary-background: var(--helio-primitiveColor-white);
  --helio-color-primary-background-pressed: var(--helio-primitiveColor-grey50);
  --helio-color-primary-border: var(--helio-primitiveColor-grey100);
  --helio-color-primary-icon: var(--helio-primitiveColor-grey800);
  --helio-color-primary-text: var(--helio-primitiveColor-black);
  --helio-color-prime: var(--helio-primitiveColor-purple300);
  --helio-color-prime-background: var(--helio-primitiveColor-purple300);
  --helio-color-prime-button-carrousel-background: var(
    --helio-primitiveColor-white
  );
  --helio-color-prime-button-carrousel-background-pressed: var(
    --helio-primitiveColor-grey50
  );
  --helio-color-prime-hover: var(--helio-primitiveColor-purple350);
  --helio-color-prime-pressed: var(--helio-primitiveColor-purple400);
  --helio-color-secondary-background: var(--helio-primitiveColor-grey50);
  --helio-color-secondary-border: var(--helio-primitiveColor-grey700);
  --helio-color-secondary-icon: var(--helio-primitiveColor-grey300);
  --helio-color-secondary-text: var(--helio-primitiveColor-grey600);
  --helio-color-shadow: var(--helio-primitiveColor-blackTransparent10);
  --helio-color-soft-accent-background: var(--helio-primitiveColor-green50);
  --helio-color-soft-accent-background-pressed: var(
    --helio-primitiveColor-green100
  );
  --helio-color-soft-alert-background: var(--helio-primitiveColor-red50);
  --helio-color-soft-global-background: var(--helio-primitiveColor-yellow50);
  --helio-color-soft-global-background-pressed: var(
    --helio-primitiveColor-yellow50
  );
  --helio-color-soft-info-background: var(--helio-primitiveColor-aqua50);
  --helio-color-soft-prime-background: var(--helio-primitiveColor-purple50);
  --helio-color-soft-prime-banner-text: var(--helio-primitiveColor-purple300);
  --helio-color-soft-prime-button-text: var(--helio-primitiveColor-purple300);
  --helio-color-soft-warning-background: var(--helio-primitiveColor-yellow50);
  --helio-color-sponsored-background: var(--helio-primitiveColor-blue50);
  --helio-color-sponsored-background-elevated: var(
    --helio-primitiveColor-white
  );
  --helio-color-sponsored-text: var(--helio-primitiveColor-blue600);
  --helio-color-tag-soft-warning-background: var(
    --helio-primitiveColor-yellow50
  );
  --helio-color-text-ultra-outlined: var(--helio-primitiveColor-yellow500);
  --helio-color-transparent: var(--helio-primitiveColor-transparent);
  --helio-color-warning: var(--helio-primitiveColor-yellow500);
  --helio-primitiveColor-aqua50: #e5f4fcff;
  --helio-primitiveColor-aqua800: #05202eff;
  --helio-primitiveColor-black: #000000ff;
  --helio-primitiveColor-blackTransparent10: #0000001a;
  --helio-primitiveColor-blackTransparent60: #00000099;
  --helio-primitiveColor-blue300: #6faef6ff;
  --helio-primitiveColor-blue50: #eff6feff;
  --helio-primitiveColor-blue600: #0c5fc0ff;
  --helio-primitiveColor-blue800: #063060ff;
  --helio-primitiveColor-blue900: #031830ff;
  --helio-primitiveColor-facebook500: #4f69baff;
  --helio-primitiveColor-facebook550: #435caaff;
  --helio-primitiveColor-facebook600: #3c539aff;
  --helio-primitiveColor-facebook650: #344886ff;
  --helio-primitiveColor-facebook700: #2e3f75ff;
  --helio-primitiveColor-green100: #d5f6efff;
  --helio-primitiveColor-green50: #e9f8f5ff;
  --helio-primitiveColor-green600: #2abb98ff;
  --helio-primitiveColor-green700: #00a082ff;
  --helio-primitiveColor-green750: #00846bff;
  --helio-primitiveColor-green800: #006653ff;
  --helio-primitiveColor-green900: #002d28ff;
  --helio-primitiveColor-grey100: #e4e4e4ff;
  --helio-primitiveColor-grey300: #c1c1c1ff;
  --helio-primitiveColor-grey50: #f5f5f5ff;
  --helio-primitiveColor-grey500: #9b9b9bff;
  --helio-primitiveColor-grey600: #6e6e6eff;
  --helio-primitiveColor-grey700: #4a4a4aff;
  --helio-primitiveColor-grey800: #292929ff;
  --helio-primitiveColor-grey900: #1d1d1dff;
  --helio-primitiveColor-grey950: #1c1c1cff;
  --helio-primitiveColor-purple200: #a7a7f1ff;
  --helio-primitiveColor-purple250: #8f8fedff;
  --helio-primitiveColor-purple300: #7a7aeaff;
  --helio-primitiveColor-purple350: #6262e6ff;
  --helio-primitiveColor-purple400: #655ae5ff;
  --helio-primitiveColor-purple50: #ebebfcff;
  --helio-primitiveColor-purple700: #322673ff;
  --helio-primitiveColor-purple800: #202042ff;
  --helio-primitiveColor-red300: #ff6666ff;
  --helio-primitiveColor-red350: #ff4a4aff;
  --helio-primitiveColor-red400: #e94949ff;
  --helio-primitiveColor-red450: #e63030ff;
  --helio-primitiveColor-red50: #ffe8e8ff;
  --helio-primitiveColor-red500: #c43939ff;
  --helio-primitiveColor-red800: #4e2424ff;
  --helio-primitiveColor-transparent: #00000000;
  --helio-primitiveColor-white: #ffffffff;
  --helio-primitiveColor-yellow200: #ffde99ff;
  --helio-primitiveColor-yellow400: #ffc244ff;
  --helio-primitiveColor-yellow450: #ffb928ff;
  --helio-primitiveColor-yellow50: #fff3daff;
  --helio-primitiveColor-yellow500: #e19f17ff;
  --helio-primitiveColor-yellow800: #5d4109ff;
  --helio-primitiveColor-yellow900: #33270eff;
  --helio-space-2XL: 48px;
  --helio-space-2XS: 4px;
  --helio-space-3XL: 64px;
  --helio-space-4XL: 80px;
  --helio-space-5XL: 100px;
  --helio-space-L: 24px;
  --helio-space-M: 16px;
  --helio-space-S: 12px;
  --helio-space-XL: 32px;
  --helio-space-XS: 8px;
  --helio-color-accentHover: var(--helio-primitiveColor-green750);
  --helio-color-accentPressed: var(--helio-primitiveColor-green800);
  --helio-color-alertHover: var(--helio-primitiveColor-red350);
  --helio-color-alertPressed: var(--helio-primitiveColor-red400);
  --helio-color-buttonText: var(--helio-primitiveColor-white);
  --helio-color-buttonTextDisabled: var(--helio-primitiveColor-white);
  --helio-color-controlBackground: var(--helio-primitiveColor-yellow400);
  --helio-color-defaultLoader: var(--helio-primitiveColor-grey300);
  --helio-color-disabledText: var(--helio-primitiveColor-grey300);
  --helio-color-discoverButtonBackground: var(--helio-primitiveColor-grey50);
  --helio-color-discoverButtonBackgroundHover: var(
    --helio-primitiveColor-grey100
  );
  --helio-color-discoverButtonBackgroundPressed: var(
    --helio-primitiveColor-white
  );
  --helio-color-facebookBackground: var(--helio-primitiveColor-facebook600);
  --helio-color-facebookBackgroundHover: var(
    --helio-primitiveColor-facebook650
  );
  --helio-color-facebookBackgroundPressed: var(
    --helio-primitiveColor-facebook700
  );
  --helio-color-floatingElementBackground: var(--helio-primitiveColor-white);
  --helio-color-globalBackground: var(--helio-primitiveColor-yellow400);
  --helio-color-invertedBorder: var(--helio-primitiveColor-white);
  --helio-color-invertedPrime: var(--helio-primitiveColor-white);
  --helio-color-mediumGlobalBackground: var(--helio-primitiveColor-yellow200);
  --helio-color-ongoingProgressBackground: var(
    --helio-primitiveColor-yellow500
  );
  --helio-color-overlayBackground: var(
    --helio-primitiveColor-blackTransparent60
  );
  --helio-color-primaryBackground: var(--helio-primitiveColor-white);
  --helio-color-primaryBackgroundPressed: var(--helio-primitiveColor-grey50);
  --helio-color-primaryBorder: var(--helio-primitiveColor-grey100);
  --helio-color-primaryIcon: var(--helio-primitiveColor-grey800);
  --helio-color-primaryText: var(--helio-primitiveColor-black);
  --helio-color-primeBackground: var(--helio-primitiveColor-purple300);
  --helio-color-primeButtonCarrouselBackground: var(
    --helio-primitiveColor-white
  );
  --helio-color-primeButtonCarrouselBackgroundPressed: var(
    --helio-primitiveColor-grey50
  );
  --helio-color-primeHover: var(--helio-primitiveColor-purple350);
  --helio-color-primePressed: var(--helio-primitiveColor-purple400);
  --helio-color-secondaryBackground: var(--helio-primitiveColor-grey50);
  --helio-color-secondaryBorder: var(--helio-primitiveColor-grey700);
  --helio-color-secondaryIcon: var(--helio-primitiveColor-grey300);
  --helio-color-secondaryText: var(--helio-primitiveColor-grey600);
  --helio-color-softAccentBackground: var(--helio-primitiveColor-green50);
  --helio-color-softAccentBackgroundPressed: var(
    --helio-primitiveColor-green100
  );
  --helio-color-softAlertBackground: var(--helio-primitiveColor-red50);
  --helio-color-softGlobalBackground: var(--helio-primitiveColor-yellow50);
  --helio-color-softGlobalBackgroundPressed: var(
    --helio-primitiveColor-yellow50
  );
  --helio-color-softInfoBackground: var(--helio-primitiveColor-aqua50);
  --helio-color-softPrimeBackground: var(--helio-primitiveColor-purple50);
  --helio-color-softPrimeBannerText: var(--helio-primitiveColor-purple300);
  --helio-color-softPrimeButtonText: var(--helio-primitiveColor-purple300);
  --helio-color-softWarningBackground: var(--helio-primitiveColor-yellow50);
  --helio-color-sponsoredBackground: var(--helio-primitiveColor-blue50);
  --helio-color-sponsoredBackgroundElevated: var(--helio-primitiveColor-white);
  --helio-color-sponsoredText: var(--helio-primitiveColor-blue600);
  --helio-color-tagSoftWarningBackground: var(--helio-primitiveColor-yellow50);
  --helio-color-textUltraOutlined: var(--helio-primitiveColor-yellow500);
}
